.FooterLast {
    background-image: url("/backgroundFooter.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir todo el contenedor */
}
