@tailwind base;
@tailwind components;
@tailwind utilities;

.firstBoxStyle {
    background-color: #f0f0f0; 
}

.otherBoxStyle {
    background-color: #ccc; 
}
body{
    background-color: #1b1b1b;
    overflow-x: hidden;
}

.card {
    backdrop-filter: blur(24px) saturate(180%);
    -webkit-backdrop-filter: blur(24px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
